In [ ]:
import pandas  as pd
import numpy as np

In [ ]:
patient_data=pd.read_csv("/content/patient-data.csv")
print(patient_data)

           ID        Name      Race   Gender Smokes  HeightInCms  WeightInKgs  \
0   AC/AH/001  Demetr,ius     White     Male  False       182.87        76.57
1   AC/AH/017     Rosario     White     Male  False       179.12        80.43
2   AC/AH/020       Julio     Black     Male  False       169.15        75.48
3   AC/AH/022        Lupe     White     Male  False       175.66        94.54
4   AC/AH/029      Lavern     White   Female  False       164.47        71.78
..        ...         ...       ...      ...    ...          ...          ...
95  AC/SG/197       Stacy     White   Female  False       159.44        66.21
96  AC/SG/204     Anthony     White   Female  False       164.11        70.66
97  AC/SG/216        Alva     White   Female  False       159.13        66.96
98  AC/SG/217        Dean     White   Female  False       160.58        71.49
99  AC/SG/234        Luis  Hispanic   Female  False       164.88        68.07

     BirthDate         State   Pet  HealthGrade   Died  RecordDate
0   1972-01-31   Georgia,xxx   Dog            2  False  2015-11-25
1   1972-06-09      Missouri   Dog            2  False  2015-11-25
2   1972-07-03  Pennsylvania  None            2  False  2015-11-25
3   1972-08-11       Florida   Cat            1  False  2015-11-25
4   1973-06-06          Iowa   NaN            2   True  2015-11-25
..         ...           ...   ...          ...    ...         ...
95  1972-11-08      New York   Cat            1   True  2016-10-25
96  1972-06-17    California   Dog            3  False  2016-10-25
97  1972-06-19       Alabama  None            1   True  2016-10-25
98  1972-11-11          Ohio  None            1   True  2016-10-25
99  1971-11-10  Pennsylvania   Cat            3   True  2016-10-25

[100 rows x 13 columns]

In [ ]:
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           100 non-null    object
 1   Name         100 non-null    object
 2   Race         100 non-null    object
 3   Gender       100 non-null    object
 4   Smokes       100 non-null    object
 5   HeightInCms  100 non-null    float64
 6   WeightInKgs  100 non-null    float64
 7   BirthDate    100 non-null    object
 8   State        100 non-null    object
 9   Pet          95 non-null     object
 10  HealthGrade  100 non-null    int64
 11  Died         100 non-null    bool
 12  RecordDate   100 non-null    object
dtypes: bool(1), float64(2), int64(1), object(9)
memory usage: 9.6+ KB

In [ ]:
patient_data.iloc[:,:]

,ID,Name,Race,Gender,Smokes,HeightInCms,WeightInKgs,BirthDate,State,Pet,HealthGrade,Died,RecordDate
0,AC/AH/001,"Demetr,ius",White,Male,False,182.87,76.57,1972-01-31,"Georgia,xxx",Dog,2,False,2015-11-25
1,AC/AH/017,Rosario,White,Male,False,179.12,80.43,1972-06-09,Missouri,Dog,2,False,2015-11-25
2,AC/AH/020,Julio,Black,Male,False,169.15,75.48,1972-07-03,Pennsylvania,None,2,False,2015-11-25
3,AC/AH/022,Lupe,White,Male,False,175.66,94.54,1972-08-11,Florida,Cat,1,False,2015-11-25
4,AC/AH/029,Lavern,White,Female,False,164.47,71.78,1973-06-06,Iowa,NaN,2,True,2015-11-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AC/SG/197,Stacy,White,Female,False,159.44,66.21,1972-11-08,New York,Cat,1,True,2016-10-25
96,AC/SG/204,Anthony,White,Female,False,164.11,70.66,1972-06-17,California,Dog,3,False,2016-10-25
97,AC/SG/216,Alva,White,Female,False,159.13,66.96,1972-06-19,Alabama,None,1,True,2016-10-25
98,AC/SG/217,Dean,White,Female,False,160.58,71.49,1972-11-11,Ohio,None,1,True,2016-10-25
99,AC/SG/234,Luis,Hispanic,Female,False,164.88,68.07,1971-11-10,Pennsylvania,Cat,3,True,2016-10-25

In [ ]:
patient_data["HeightInMeters"]=patient_data['HeightInCms']/100
print(patient_data)

           ID        Name      Race   Gender Smokes  HeightInCms  WeightInKgs  \
0   AC/AH/001  Demetr,ius     White     Male  False       182.87        76.57
1   AC/AH/017     Rosario     White     Male  False       179.12        80.43
2   AC/AH/020       Julio     Black     Male  False       169.15        75.48
3   AC/AH/022        Lupe     White     Male  False       175.66        94.54
4   AC/AH/029      Lavern     White   Female  False       164.47        71.78
..        ...         ...       ...      ...    ...          ...          ...
95  AC/SG/197       Stacy     White   Female  False       159.44        66.21
96  AC/SG/204     Anthony     White   Female  False       164.11        70.66
97  AC/SG/216        Alva     White   Female  False       159.13        66.96
98  AC/SG/217        Dean     White   Female  False       160.58        71.49
99  AC/SG/234        Luis  Hispanic   Female  False       164.88        68.07

     BirthDate         State   Pet  HealthGrade   Died  RecordDate  \
0   1972-01-31   Georgia,xxx   Dog            2  False  2015-11-25
1   1972-06-09      Missouri   Dog            2  False  2015-11-25
2   1972-07-03  Pennsylvania  None            2  False  2015-11-25
3   1972-08-11       Florida   Cat            1  False  2015-11-25
4   1973-06-06          Iowa   NaN            2   True  2015-11-25
..         ...           ...   ...          ...    ...         ...
95  1972-11-08      New York   Cat            1   True  2016-10-25
96  1972-06-17    California   Dog            3  False  2016-10-25
97  1972-06-19       Alabama  None            1   True  2016-10-25
98  1972-11-11          Ohio  None            1   True  2016-10-25
99  1971-11-10  Pennsylvania   Cat            3   True  2016-10-25

    HeightInMeters
0           1.8287
1           1.7912
2           1.6915
3           1.7566
4           1.6447
..             ...
95          1.5944
96          1.6411
97          1.5913
98          1.6058
99          1.6488

[100 rows x 14 columns]

In [ ]:
patient_data["BMI"] =patient_data['WeightInKgs']  / patient_data['HeightInMeters']**2
print(patient_data)

           ID        Name      Race   Gender Smokes  HeightInCms  WeightInKgs  \
0   AC/AH/001  Demetr,ius     White     Male  False       182.87        76.57
1   AC/AH/017     Rosario     White     Male  False       179.12        80.43
2   AC/AH/020       Julio     Black     Male  False       169.15        75.48
3   AC/AH/022        Lupe     White     Male  False       175.66        94.54
4   AC/AH/029      Lavern     White   Female  False       164.47        71.78
..        ...         ...       ...      ...    ...          ...          ...
95  AC/SG/197       Stacy     White   Female  False       159.44        66.21
96  AC/SG/204     Anthony     White   Female  False       164.11        70.66
97  AC/SG/216        Alva     White   Female  False       159.13        66.96
98  AC/SG/217        Dean     White   Female  False       160.58        71.49
99  AC/SG/234        Luis  Hispanic   Female  False       164.88        68.07

     BirthDate         State   Pet  HealthGrade   Died  RecordDate  \
0   1972-01-31   Georgia,xxx   Dog            2  False  2015-11-25
1   1972-06-09      Missouri   Dog            2  False  2015-11-25
2   1972-07-03  Pennsylvania  None            2  False  2015-11-25
3   1972-08-11       Florida   Cat            1  False  2015-11-25
4   1973-06-06          Iowa   NaN            2   True  2015-11-25
..         ...           ...   ...          ...    ...         ...
95  1972-11-08      New York   Cat            1   True  2016-10-25
96  1972-06-17    California   Dog            3  False  2016-10-25
97  1972-06-19       Alabama  None            1   True  2016-10-25
98  1972-11-11          Ohio  None            1   True  2016-10-25
99  1971-11-10  Pennsylvania   Cat            3   True  2016-10-25

    HeightInMeters        BMI
0           1.8287  22.896743
1           1.7912  25.068590
2           1.6915  26.380795
3           1.7566  30.638665
4           1.6447  26.535671
..             ...        ...
95          1.5944  26.045279
96          1.6411  26.236358
97          1.5913  26.443036
98          1.6058  27.724415
99          1.6488  25.039162

[100 rows x 15 columns]

In [ ]:
patient_data["BMI Label"] = patient_data["BMI"].apply(lambda x: "Underweight" if x < 18.50 else"Normal")
patient_data["BMI Label"] = patient_data["BMI"].apply(lambda x: "Normal" if 18.5 <x>=25.0 else "Overweight")
patient_data["BMI Label"] = patient_data["BMI"].apply(lambda x: "Overweight" if 25.00<x >=30.00 else "Obese")
patient_data["BMI Label"] = patient_data["BMI"].apply(lambda x: "Obese" if  x>30.00 else "normal")
print(patient_data)

           ID        Name      Race   Gender Smokes  HeightInCms  WeightInKgs  \
0   AC/AH/001  Demetr,ius     White     Male  False       182.87        76.57
1   AC/AH/017     Rosario     White     Male  False       179.12        80.43
2   AC/AH/020       Julio     Black     Male  False       169.15        75.48
3   AC/AH/022        Lupe     White     Male  False       175.66        94.54
4   AC/AH/029      Lavern     White   Female  False       164.47        71.78
..        ...         ...       ...      ...    ...          ...          ...
95  AC/SG/197       Stacy     White   Female  False       159.44        66.21
96  AC/SG/204     Anthony     White   Female  False       164.11        70.66
97  AC/SG/216        Alva     White   Female  False       159.13        66.96
98  AC/SG/217        Dean     White   Female  False       160.58        71.49
99  AC/SG/234        Luis  Hispanic   Female  False       164.88        68.07

     BirthDate         State   Pet  HealthGrade   Died  RecordDate  \
0   1972-01-31   Georgia,xxx   Dog            2  False  2015-11-25
1   1972-06-09      Missouri   Dog            2  False  2015-11-25
2   1972-07-03  Pennsylvania  None            2  False  2015-11-25
3   1972-08-11       Florida   Cat            1  False  2015-11-25
4   1973-06-06          Iowa   NaN            2   True  2015-11-25
..         ...           ...   ...          ...    ...         ...
95  1972-11-08      New York   Cat            1   True  2016-10-25
96  1972-06-17    California   Dog            3  False  2016-10-25
97  1972-06-19       Alabama  None            1   True  2016-10-25
98  1972-11-11          Ohio  None            1   True  2016-10-25
99  1971-11-10  Pennsylvania   Cat            3   True  2016-10-25

    HeightInMeters        BMI BMI Label
0           1.8287  22.896743    normal
1           1.7912  25.068590    normal
2           1.6915  26.380795    normal
3           1.7566  30.638665     Obese
4           1.6447  26.535671    normal
..             ...        ...       ...
95          1.5944  26.045279    normal
96          1.6411  26.236358    normal
97          1.5913  26.443036    normal
98          1.6058  27.724415    normal
99          1.6488  25.039162    normal

[100 rows x 16 columns]

In [ ]:
patient_data["HealthGrade"] = patient_data["HealthGrade"].replace(1, "Good health")
patient_data["HealthGrade"] = patient_data["HealthGrade"].replace(2, "Normal")
patient_data["HealthGrade"] = patient_data["HealthGrade"].replace(3, "Bad health")
patient_data

,ID,Name,Race,Gender,Smokes,HeightInCms,WeightInKgs,BirthDate,State,Pet,HealthGrade,Died,RecordDate,HeightInMeters,BMI,BMI Label
0,AC/AH/001,"Demetr,ius",White,Male,False,182.87,76.57,1972-01-31,"Georgia,xxx",Dog,Normal,False,2015-11-25,1.8287,22.896743,normal
1,AC/AH/017,Rosario,White,Male,False,179.12,80.43,1972-06-09,Missouri,Dog,Normal,False,2015-11-25,1.7912,25.068590,normal
2,AC/AH/020,Julio,Black,Male,False,169.15,75.48,1972-07-03,Pennsylvania,None,Normal,False,2015-11-25,1.6915,26.380795,normal
3,AC/AH/022,Lupe,White,Male,False,175.66,94.54,1972-08-11,Florida,Cat,Good health,False,2015-11-25,1.7566,30.638665,Obese
4,AC/AH/029,Lavern,White,Female,False,164.47,71.78,1973-06-06,Iowa,NaN,Normal,True,2015-11-25,1.6447,26.535671,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AC/SG/197,Stacy,White,Female,False,159.44,66.21,1972-11-08,New York,Cat,Good health,True,2016-10-25,1.5944,26.045279,normal
96,AC/SG/204,Anthony,White,Female,False,164.11,70.66,1972-06-17,California,Dog,Bad health,False,2016-10-25,1.6411,26.236358,normal
97,AC/SG/216,Alva,White,Female,False,159.13,66.96,1972-06-19,Alabama,None,Good health,True,2016-10-25,1.5913,26.443036,normal
98,AC/SG/217,Dean,White,Female,False,160.58,71.49,1972-11-11,Ohio,None,Good health,True,2016-10-25,1.6058,27.724415,normal
99,AC/SG/234,Luis,Hispanic,Female,False,164.88,68.07,1971-11-10,Pennsylvania,Cat,Bad health,True,2016-10-25,1.6488,25.039162,normal

In [ ]:
#1.	Display top 10 records based on BMI-Value.
patient_data["BMI"].head(10)

0    22.896743
1    25.068590
2    26.380795
3    30.638665
4    26.535671
5    27.904868
6    26.335261
7    25.611839
8    23.390253
9    28.222896
Name: BMI, dtype: float64

In [ ]:
#2.Display bottom 10 records based on BMI-Value.
patient_data["BMI"].tail(10)

90    28.267691
91    24.774188
92    27.842064
93    21.413852
94    27.968224
95    26.045279
96    26.236358
97    26.443036
98    27.724415
99    25.039162
Name: BMI, dtype: float64

In [ ]:
#3.	Provide frequency / counts of Gender > Race
frequency_gender=patient_data['Gender'].value_counts()
frequency_gender

Female     45
Male       40
 Female     6
Female      4
 Male       3
Male        2
Name: Gender, dtype: int64

In [ ]:
frequency_race=patient_data['Race'].value_counts()
frequency_race

White        68
Hispanic     17
Black         8
Asian         5
Dog           1
Bi-Racial     1
Name: Race, dtype: int64

gender column has highest frequency count of females and according to race maximum frequency is white

In [ ]:
#4.Provide max, min and average values for BMI-Values as per following 	Race > Gender.
patient_data['BMI'].min()

31.704021344533878

In [ ]:
patient_data['BMI'].max()

31.704021344533878

In [ ]:
patient_data['BMI'].mean()

26.54004124507815

In [ ]:
#5.	Display All Records for all people who are dead.
patient_data['Died'].value_counts()

True     54
False    46
Name: Died, dtype: int64

true indicicates that the person is died and false indicates person is not died hence 54 has died

In [ ]:
patient_data = patient_data[patient_data['Died'].isin([False])]
patient_data

,ID,Name,Race,Gender,Smokes,HeightInCms,WeightInKgs,BirthDate,State,Pet,HealthGrade,Died,RecordDate,HeightInMeters,BMI,BMI Label
0,AC/AH/001,"Demetr,ius",White,Male,False,182.87,76.57,1972-01-31,"Georgia,xxx",Dog,Normal,False,2015-11-25,1.8287,22.896743,normal
1,AC/AH/017,Rosario,White,Male,False,179.12,80.43,1972-06-09,Missouri,Dog,Normal,False,2015-11-25,1.7912,25.068590,normal
2,AC/AH/020,Julio,Black,Male,False,169.15,75.48,1972-07-03,Pennsylvania,None,Normal,False,2015-11-25,1.6915,26.380795,normal
3,AC/AH/022,Lupe,White,Male,False,175.66,94.54,1972-08-11,Florida,Cat,Good health,False,2015-11-25,1.7566,30.638665,Obese
5,AC/AH/033,Bernie,Dog,Female,True,158.27,69.90,1973-06-25,Maryland,Dog,Normal,False,2015-11-25,1.5827,27.904868,normal
6,AC/AH/037,Samuel,White,Female,False,161.69,68.85,1972-03-20,Pennsylvania,None,Good health,False,2015-11-25,1.6169,26.335261,normal
7,AC/AH/044,Clair,White,Female,No,165.84,70.44,1973-05-05,North Carolina,None,Good health,False,2015-11-25,1.6584,25.611839,normal
8,AC/AH/045,Shirley,White,Male,False,181.32,76.90,1971-12-25,Louisiana,Dog,Good health,False,2015-11-25,1.8132,23.390253,normal
9,AC/AH/048,Merle,Hispanic,Male,False,167.37,79.06,1973-07-13,North Carolina,None,Normal,False,2015-12-25,1.6737,28.222896,normal
11,AC/AH/050,Frances,White,Female,False,166.48,67.34,1971-11-08,Michigan,None,Good health,False,2015-12-25,1.6648,24.296794,normal
12,AC/AH/052,Courtney,White,Male,True,175.39,92.22,1972-03-16,Indiana,Bird,Bad health,False,2015-12-25,1.7539,29.978884,normal
13,AC/AH/053,Francis,White,Female,True,164.70,75.69,1971-11-16,Virginia,Dog,Good health,False,2015-12-25,1.6470,27.903026,normal
14,AC/AH/057,Vernon,White,Female,True,163.79,65.76,1972-01-06,Illinois,Cat,Bad health,False,2015-12-25,1.6379,24.512468,normal
16,AC/AH/063,Robin,Hispanic,Male,False,169.24,73.30,1971-11-16,Illinois,None,Bad health,False,2015-12-25,1.6924,25.591630,normal
17,AC/AH/076,Albert,White,Male,False,176.22,97.67,1973-04-08,Louisiana,Cat,Normal,False,2015-12-25,1.7622,31.452183,Obese
18,AC/AH/077,Tommy,Black,Male,False,174.09,72.20,1973-02-01,Washington,Cat,Bad health,False,2015-12-25,1.7409,23.822621,normal
19,AC/AH/086,Kyle,Black,Male,True,180.11,75.72,1973-05-12,Georgia,Cat,Bad health,False,2015-12-25,1.8011,23.341833,normal
21,AC/AH/100,Michel,White,Female,False,161.92,69.92,1972-12-27,Georgia,Dog,Good health,False,2015-12-25,1.6192,26.668613,normal
24,AC/AH/113,Eugene,White,Female,No,168.24,69.57,1972-02-07,Massachusetts,NaN,Normal,False,2016-01-25,1.6824,24.578959,normal
25,AC/AH/114,Kris,Hispanic,Male,False,177.75,74.84,1972-11-19,Pennsylvania,Bird,Bad health,False,2016-01-25,1.7775,23.687245,normal
26,AC/AH/115,Tracy,Bi-Racial,Male,True,183.21,83.36,1973-09-29,California,Dog,Normal,False,2016-01-25,1.8321,24.834725,normal
32,AC/AH/159,Edward,White,Male,No,181.64,96.91,1972-12-04,Connecticut,Cat,Normal,False,2016-02-25,1.8164,29.372818,normal
34,AC/AH/164,Shane,Hispanic,Male,True,177.03,74.04,1972-02-18,Florida,None,Normal,False,2016-02-25,1.7703,23.625046,normal
41,AC/AH/198,Van,White,Female,False,159.52,67.99,1972-12-02,Missouri,CAT,Normal,False,2016-03-25,1.5952,26.718665,normal
42,AC/AH/207,Bobbie,White,Female,False,163.01,65.19,1973-05-17,Florida,Dog,Normal,False,2016-03-25,1.6301,24.533103,normal
43,AC/AH/208,Lawrence,Hispanic,Female,False,165.80,71.77,1973-08-07,Louisiana,None,Good health,False,2016-03-25,1.6580,26.108017,normal
44,AC/AH/210,Keith,Hispanic,Female,True,170.03,66.68,1972-08-28,New York,Dog,99,False,2016-03-25,1.7003,23.064523,normal
46,AC/AH/213,Charlie,White,Female,Yes,164.58,72.99,1972-01-25,Louisiana,Dog,Good health,False,2016-04-25,1.6458,26.946927,normal
48,AC/AH/220,Richard,White,Male,False,185.43,87.23,1973-07-13,Florida,Cat,Good health,False,2016-04-25,1.8543,25.369148,normal
50,AC/AH/225,Gail,White,Female,False,163.45,67.67,1972-10-21,Michigan,Cat,Normal,False,2016-04-25,1.6345,25.329483,normal
52,AC/AH/241,Lindsay,White,Female,False,161.38,73.55,1972-02-08,Florida,Cat,Bad health,False,2016-05-25,1.6138,28.241207,normal
56,AC/SG/002,Jan,White,Female,True,161.57,67.92,1973-07-03,Arizona,Dog,Bad health,False,2016-05-25,1.6157,26.018139,normal
59,AC/SG/009,Sammy,White,Male,False,166.84,88.25,1972-03-04,Vermont,Dog,Good health,False,2016-06-25,1.6684,31.704021,Obese
70,AC/SG/072,Cameron,Black,Female,True,162.33,66.47,1972-02-15,California,NaN,Bad health,False,2016-07-25,1.6233,25.224821,normal
71,AC/SG/074,Eddie,Hispanic,Male,False,175.67,88.82,1973-10-04,Georgia,None,99,False,2016-07-25,1.7567,28.781642,normal
73,AC/SG/095,Matthew,White,Female,False,158.94,65.14,1973-05-26,Hawaii,Dog,Good health,False,2016-07-25,1.5894,25.785843,normal
74,AC/SG/099,Leslie,Asian,Male,False,172.72,67.62,1972-02-04,Ohio,Cat,Good health,False,2016-07-25,1.7272,22.666784,normal
76,AC/SG/107,Sol,White,Male,False,176.54,90.76,1973-01-28,Hawaii,None,Bad health,False,2016-08-25,1.7654,29.121131,normal
78,AC/SG/121,Rudy,White,Female,False,163.94,71.47,1973-03-12,Michigan,Cat,Bad health,False,2016-08-25,1.6394,26.592179,normal
79,AC/SG/122,Michal,Hispanic,Female,False,160.09,68.94,1971-12-16,South Carolina,DOG,Good health,False,2016-08-25,1.6009,26.899417,normal
82,AC/SG/139,Jordan,White,Male,False,171.94,82.11,1973-10-06,Michigan,None,Good health,False,2016-08-25,1.7194,27.774241,normal
83,AC/SG/142,Kenneth,White,Female,False,158.07,69.80,1972-05-15,Kansas,Dog,Bad health,False,2016-08-25,1.5807,27.935504,normal
88,AC/SG/173,Britt,White,Female,True,163.17,64.47,1973-06-19,California,NONE,Normal,False,2016-09-25,1.6317,24.214586,normal
93,AC/SG/193,Ronnie,White,Male,True,185.43,73.63,1973-06-05,Iowa,Dog,Bad health,False,2016-09-25,1.8543,21.413852,normal
94,AC/SG/194,Joseph,White,Female,False,162.65,73.99,1972-08-04,Maryland,CAT,Bad health,False,2016-10-25,1.6265,27.968224,normal
96,AC/SG/204,Anthony,White,Female,False,164.11,70.66,1972-06-17,California,Dog,Bad health,False,2016-10-25,1.6411,26.236358,normal

In [ ]:
# 6.	Display All Records for â€œHispanic Females
Hispanic_Females = patient_data[patient_data['Gender'].isin(["Female"]) & patient_data['Race'].isin(["Hispanic"])]
Hispanic_Females

,ID,Name,Race,Gender,Smokes,HeightInCms,WeightInKgs,BirthDate,State,Pet,HealthGrade,Died,RecordDate,HeightInMeters,BMI,BMI Label
0,AC/AH/001,"Demetr,ius",Hispanic,Female,False,182.87,76.57,1972-01-31,"Georgia,xxx",Dog,Normal,False,2015-11-25,1.8287,22.896743,normal
1,AC/AH/017,Rosario,Hispanic,Female,False,179.12,80.43,1972-06-09,Missouri,Dog,Normal,False,2015-11-25,1.7912,25.068590,normal
2,AC/AH/020,Julio,Hispanic,Female,False,169.15,75.48,1972-07-03,Pennsylvania,None,Normal,False,2015-11-25,1.6915,26.380795,normal
3,AC/AH/022,Lupe,Hispanic,Female,False,175.66,94.54,1972-08-11,Florida,Cat,Good health,False,2015-11-25,1.7566,30.638665,Obese
5,AC/AH/033,Bernie,Hispanic,Female,True,158.27,69.90,1973-06-25,Maryland,Dog,Normal,False,2015-11-25,1.5827,27.904868,normal
6,AC/AH/037,Samuel,Hispanic,Female,False,161.69,68.85,1972-03-20,Pennsylvania,None,Good health,False,2015-11-25,1.6169,26.335261,normal
7,AC/AH/044,Clair,Hispanic,Female,No,165.84,70.44,1973-05-05,North Carolina,None,Good health,False,2015-11-25,1.6584,25.611839,normal
8,AC/AH/045,Shirley,Hispanic,Female,False,181.32,76.90,1971-12-25,Louisiana,Dog,Good health,False,2015-11-25,1.8132,23.390253,normal
9,AC/AH/048,Merle,Hispanic,Female,False,167.37,79.06,1973-07-13,North Carolina,None,Normal,False,2015-12-25,1.6737,28.222896,normal
11,AC/AH/050,Frances,Hispanic,Female,False,166.48,67.34,1971-11-08,Michigan,None,Good health,False,2015-12-25,1.6648,24.296794,normal
12,AC/AH/052,Courtney,Hispanic,Female,True,175.39,92.22,1972-03-16,Indiana,Bird,Bad health,False,2015-12-25,1.7539,29.978884,normal
13,AC/AH/053,Francis,Hispanic,Female,True,164.70,75.69,1971-11-16,Virginia,Dog,Good health,False,2015-12-25,1.6470,27.903026,normal
14,AC/AH/057,Vernon,Hispanic,Female,True,163.79,65.76,1972-01-06,Illinois,Cat,Bad health,False,2015-12-25,1.6379,24.512468,normal
16,AC/AH/063,Robin,Hispanic,Female,False,169.24,73.30,1971-11-16,Illinois,None,Bad health,False,2015-12-25,1.6924,25.591630,normal
17,AC/AH/076,Albert,Hispanic,Female,False,176.22,97.67,1973-04-08,Louisiana,Cat,Normal,False,2015-12-25,1.7622,31.452183,Obese
18,AC/AH/077,Tommy,Hispanic,Female,False,174.09,72.20,1973-02-01,Washington,Cat,Bad health,False,2015-12-25,1.7409,23.822621,normal
19,AC/AH/086,Kyle,Hispanic,Female,True,180.11,75.72,1973-05-12,Georgia,Cat,Bad health,False,2015-12-25,1.8011,23.341833,normal
21,AC/AH/100,Michel,Hispanic,Female,False,161.92,69.92,1972-12-27,Georgia,Dog,Good health,False,2015-12-25,1.6192,26.668613,normal
24,AC/AH/113,Eugene,Hispanic,Female,No,168.24,69.57,1972-02-07,Massachusetts,NaN,Normal,False,2016-01-25,1.6824,24.578959,normal
25,AC/AH/114,Kris,Hispanic,Female,False,177.75,74.84,1972-11-19,Pennsylvania,Bird,Bad health,False,2016-01-25,1.7775,23.687245,normal
26,AC/AH/115,Tracy,Hispanic,Female,True,183.21,83.36,1973-09-29,California,Dog,Normal,False,2016-01-25,1.8321,24.834725,normal
32,AC/AH/159,Edward,Hispanic,Female,No,181.64,96.91,1972-12-04,Connecticut,Cat,Normal,False,2016-02-25,1.8164,29.372818,normal
34,AC/AH/164,Shane,Hispanic,Female,True,177.03,74.04,1972-02-18,Florida,None,Normal,False,2016-02-25,1.7703,23.625046,normal
41,AC/AH/198,Van,Hispanic,Female,False,159.52,67.99,1972-12-02,Missouri,CAT,Normal,False,2016-03-25,1.5952,26.718665,normal
42,AC/AH/207,Bobbie,Hispanic,Female,False,163.01,65.19,1973-05-17,Florida,Dog,Normal,False,2016-03-25,1.6301,24.533103,normal
43,AC/AH/208,Lawrence,Hispanic,Female,False,165.80,71.77,1973-08-07,Louisiana,None,Good health,False,2016-03-25,1.6580,26.108017,normal
44,AC/AH/210,Keith,Hispanic,Female,True,170.03,66.68,1972-08-28,New York,Dog,99,False,2016-03-25,1.7003,23.064523,normal
46,AC/AH/213,Charlie,Hispanic,Female,Yes,164.58,72.99,1972-01-25,Louisiana,Dog,Good health,False,2016-04-25,1.6458,26.946927,normal
48,AC/AH/220,Richard,Hispanic,Female,False,185.43,87.23,1973-07-13,Florida,Cat,Good health,False,2016-04-25,1.8543,25.369148,normal
50,AC/AH/225,Gail,Hispanic,Female,False,163.45,67.67,1972-10-21,Michigan,Cat,Normal,False,2016-04-25,1.6345,25.329483,normal
52,AC/AH/241,Lindsay,Hispanic,Female,False,161.38,73.55,1972-02-08,Florida,Cat,Bad health,False,2016-05-25,1.6138,28.241207,normal
56,AC/SG/002,Jan,Hispanic,Female,True,161.57,67.92,1973-07-03,Arizona,Dog,Bad health,False,2016-05-25,1.6157,26.018139,normal
59,AC/SG/009,Sammy,Hispanic,Female,False,166.84,88.25,1972-03-04,Vermont,Dog,Good health,False,2016-06-25,1.6684,31.704021,Obese
70,AC/SG/072,Cameron,Hispanic,Female,True,162.33,66.47,1972-02-15,California,NaN,Bad health,False,2016-07-25,1.6233,25.224821,normal
71,AC/SG/074,Eddie,Hispanic,Female,False,175.67,88.82,1973-10-04,Georgia,None,99,False,2016-07-25,1.7567,28.781642,normal
73,AC/SG/095,Matthew,Hispanic,Female,False,158.94,65.14,1973-05-26,Hawaii,Dog,Good health,False,2016-07-25,1.5894,25.785843,normal
74,AC/SG/099,Leslie,Hispanic,Female,False,172.72,67.62,1972-02-04,Ohio,Cat,Good health,False,2016-07-25,1.7272,22.666784,normal
76,AC/SG/107,Sol,Hispanic,Female,False,176.54,90.76,1973-01-28,Hawaii,None,Bad health,False,2016-08-25,1.7654,29.121131,normal
78,AC/SG/121,Rudy,Hispanic,Female,False,163.94,71.47,1973-03-12,Michigan,Cat,Bad health,False,2016-08-25,1.6394,26.592179,normal
79,AC/SG/122,Michal,Hispanic,Female,False,160.09,68.94,1971-12-16,South Carolina,DOG,Good health,False,2016-08-25,1.6009,26.899417,normal
82,AC/SG/139,Jordan,Hispanic,Female,False,171.94,82.11,1973-10-06,Michigan,None,Good health,False,2016-08-25,1.7194,27.774241,normal
83,AC/SG/142,Kenneth,Hispanic,Female,False,158.07,69.80,1972-05-15,Kansas,Dog,Bad health,False,2016-08-25,1.5807,27.935504,normal
88,AC/SG/173,Britt,Hispanic,Female,True,163.17,64.47,1973-06-19,California,NONE,Normal,False,2016-09-25,1.6317,24.214586,normal
93,AC/SG/193,Ronnie,Hispanic,Female,True,185.43,73.63,1973-06-05,Iowa,Dog,Bad health,False,2016-09-25,1.8543,21.413852,normal
94,AC/SG/194,Joseph,Hispanic,Female,False,162.65,73.99,1972-08-04,Maryland,CAT,Bad health,False,2016-10-25,1.6265,27.968224,normal
96,AC/SG/204,Anthony,Hispanic,Female,False,164.11,70.66,1972-06-17,California,Dog,Bad health,False,2016-10-25,1.6411,26.236358,normal

In [ ]:
7.	#Provide 7 sample records from the Dataset. Use seed(707)
patient_data = patient_data.sample(n=7)
patient_data

,ID,Name,Race,Gender,Smokes,HeightInCms,WeightInKgs,BirthDate,State,Pet,HealthGrade,Died,RecordDate
81,AC/SG/134,Daryl,White,Female,True,162.59,69.76,1972-05-28,Texas,CAT,2,True,2016-08-25
98,AC/SG/217,Dean,White,Female,False,160.58,71.49,1972-11-11,Ohio,None,1,True,2016-10-25
75,AC/SG/101,Jason,White,Female,False,159.23,69.96,1973-09-28,Michigan,Dog,2,True,2016-07-25
93,AC/SG/193,Ronnie,White,Male,True,185.43,73.63,1973-06-05,Iowa,Dog,3,False,2016-09-25
45,AC/AH/211,Son,White,Female,False,157.16,69.64,1973-07-14,California,Cat,2,True,2016-04-25
18,AC/AH/077,Tommy,Black,Male,False,174.09,72.20,1973-02-01,Washington,Cat,3,False,2015-12-25
86,AC/SG/167,Jimmy,White,Female,False,159.38,70.37,1973-09-30,Washington,None,2,True,2016-09-25